/* Global ---------------------------------------------------------------------------------------------------------------*/

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #FFF6F1;
    padding: 0 !important;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 104px auto 52px;
}

.contenedor__contacto {
    margin: 8px;
}

header {
    background-color: #ff8552;
}

.navbar {
    z-index: 2;
}

main {
    margin: 8px;
}

.menu {
    background-color: #ff8552;
}

.footer {
    background-color: #ff8552;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*---------------------------------------MENU---------------------------------------------------------------------------------------*/


.whatsappLink {
    position: fixed;
    top: 0cm;
    right: 10cm;
    left: 34cm;
    z-index: 2;
}

.whatsappLink img {
    width: 50px;
    height: 50px;
    z-index: 2;
}

/*QUIENES SOMOS*--------------------------------------------------------------------------------------------------------------------*/

/*REEL------------------------------*/

.reel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

media-queries .reel {
    max-width: 600px;
    display: flex;
    justify-items: left;

}

/*IMAGENES DE NOSOTROS*-----------*/

.nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nosotros img {
    border: solid 2px #ff8552;
}

.nosotros__imagenes {
    display: flex;
    flex-direction: column;
}

.contenedor__imagen {
    position: relative;
    display: inline;
    width: 250px;
}

.imagen--texto {
    display: none;
    font-weight: bolder;
    background-color: #a3a3a380;
}

.contenedor__imagen:hover .imagen--texto {
    position: absolute;
    display: block;
    bottom: 10px;
    right: 44%;
    color: #FFF6F1;
}

/*IMAGENES NUESTROS EQUIPOS-------------*/
.equipos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagenes__equipos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*TIPO DE EVENTOS----------------------------------------------------------------------------------------------------------------------*/
.imagen {
    width: 250px;
    height: 180px;
}

.deportes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artistas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.marcas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* CLIENTES --------------------------------------------------------------------------------------------*/

.logos {
    border: solid 3px #B78571;
    display: flex;
    flex-wrap: wrap;
}

.logoLaur {
    width: 100px;
    margin: 11px;
}

.logoMeta {
    width: 160px;
    margin: 11px;
}

.logoTigre {
    width: 220px;
    margin: 7px;
}

.logoMM {
    width: 200px;
    margin: 9px;
}

.logoUrdi {
    width: 230px;
    height: 154px;
    margin: 11px;
}


/*--------------------------MEDIA Y ESTILO PARA DESKTOP--------------------------------------------------------*/
@media screen and (min-width: 768px) {
    body {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 52px auto 52px;
    }

    .nosotros__imagenes {
        display: flex;
        flex-direction: row;
    }

    .nosotros img:hover {
        border: solid 3px #B78571;
    }

    .imagenes__equipos {
        /*border: 1px;*/
        background-color: #FFF6F1;
    }

    .equipos img:hover {
        transform: rotate(-7deg)
    }

    .imagenes__equipos {
        background-color: white;
    }

    /*TIPO DE EVENTOS DESKTOP*/
    .imagenes__equipos {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-evenly;
    }

    .deportes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .carrusel__deportes {
        align-items: center;
        justify-content: center;
    }

    .artistas {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .marcas {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*CLIENTES DESKTOP*/
    .nuestrosClientes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logos:hover {
        border: solid 1px #ff8552;
    }

    .nuestrosViajes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*PRESUPUESTO DESKTOP*/
    .titulo {
        display: flex;
        justify-content: center;
    }

    .table {
        margin: 12px;
    }

    /*CONTACTO DESKTOP*/
    .contenedor__contacto {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}