@import "index";
@import "variables";

$body-styles: (fuente: (Arial, Helvetica, sans-serif),
    backGroundColor: $colorFondo,
    margin: 0,
    padding: 0);


body {
    font-family: map-get($body-styles, fuente);
    margin: map-get($body-styles, margin);
    padding: map-get($body-styles, padding) !important;
    background-color: map-get($body-styles, backGroundColor);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 104px auto 52px;
}

.navbar {
    z-index: 2;
}

.contenedor__contacto {
    @include flex-align-center;
    flex-direction: column;
}

.contenedor__contacto,
main {
    margin: 8px;
}

.btn-redes {
    border-radius: 50%;
    font-weight: bold;
    background-color: white;
}

@each $key,
$value in $redes {
    .btn--#{$key} {
        @extend .btn-redes;
        background-color: $value;
    }
}

header {
    background-color: $colorNaranjaTms;
}

.menu,
.footer {
    background-color: $colorNaranjaTms;
}

.footer {
    @include flex-align-center;
    justify-content: center;
}

.whatsappLink {
    position: fixed;
    top: 0cm;
    right: 10cm;
    left: 34cm;

    img {
        width: 50px;
        height: 50px;
    }
}

@media screen and (min-width: 768px) {
    body {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 52px auto 52px;
    }
}